root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = false
insert_final_newline = false
indent_style = space
indent_size = 4
max_line_length = 120

[{*.har,*.jsb2,*.jsb3,*.json,*.jsonc,*.postman_collection,*.postman_environment,.babelrc,.eslintrc,.prettierrc,.stylelintrc,.ws-context,bowerrc,jest.config}]
indent_size = 2

[*.{appxmanifest,asax,ascx,aspx,axaml,build,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cs,cshtml,cu,cuh,cxx,cxxm,dtd,fs,fsi,fsscript,fsx,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,master,ml,mli,mpp,mq4,mq5,mqh,mxx,nuspec,paml,razor,resw,resx,shader,skin,tpp,usf,ush,uxml,vb,xaml,xamlx,xoml,xsd}]
tab_width = 4

# XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none
# The keyword 'new' should be followed by a space.
dotnet_diagnostic.SA1000.severity = none
# Closing parenthesis should not be followed by a space
dotnet_diagnostic.SA1009.severity = none
# Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none
# Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = none
# Elements should not be separated by blank line
dotnet_diagnostic.SA1516.severity = none
# Elements must be documented
dotnet_diagnostic.SA1600.severity = none
# File header rule
dotnet_diagnostic.SA1633.severity = none